.post-list {
  text-align: center;
}

.post-list-add {
  border: 2px dashed gray;
  border-radius: 3px;
  display: inline-block;
  margin: 20px;
  max-width: 90%;
  min-height: 225px;
  padding: 20px;
  position: relative;
  text-align: left;
  vertical-align: middle;
  width: 400px;
  line-height: 225px;
  text-align: center;
  color: #c2c2c2;
  text-decoration: none;
  font-size: 150px;
  font-weight: 300;
  box-sizing: border-box;
}
